.color-box {
  display: block;
  height: 160px;
  text-align: center;
  padding: 20 0;
  opacity: 0.9;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
    color: #555555;
    font-weight: bold;
    opacity: 1;
    transform: scale(1.05);
  }
  &:focus {
    text-decoration: none;
  }
  .count {
    font-size: 38px;
    height: 80px;
    line-height: 80px;
  }
  .desc {
    font-size: 18px;
    .fa {
      margin-right: 6px;
    }
  }
}
